[Unit]
Description=Cerealbar Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/home/ubuntu/projects/cb2-game-dev/deploy/systemd/launch.sh
ProtectHome=off


[Install]
WantedBy=multi-user.target
